<div class="row"  >
  <div class="col=md-8 col-md-offset-1">
    <h4> Top 5 Comments for recipe </h4>
    <%#  Comment.top_five_comments.each do |comment| %>
    <%  obj.each do |comment| %>
      <p>
        <%= comment.ratings %> stars, Title: <%= comment.recipe.title %>, Comment:<%= comment.content %>

      <p>
    <% end %>
  </div>
</div>
