<% title "Welcome Page" %>
<center>
  <h1> Recipe </h1>
  <h4>Thank you for your support of OUR Site throughout the years. We are proud of your </h4>
  <h4>  enthusiasm to make great things in the kitchen. </h4>
  <h3>Achieve Daily, Dream Big!</h3>
</center>

<div class="row">
  <div class="col=md-8 col-md-offset-1">
    <h4> List of Recipe </h4>
    <ul>
      <%@recipes.each do |recipe|%>
        <li> <%= link_to recipe.title, recipe_path(recipe) %>  - <%= last_updated recipe %> </li>
      <%end%>
    </ul>
  </div>
</div>
