<center><h2><%= @ingredient.name  + "'s"%> is present in following recipes:</h2></center>
<div class="row">
  <div class="col=md-8 col-md-offset-1">
 <ul>
    <% @ingredient.recipes.each do |recipe|%>
      <p>
        <li>  <%= link_to recipe.title , recipe_path(recipe.id) %></li>
      </p>
    <% end %>
  </ul>
  </div>
</div>
